
    <canvas #drawing_canvas class="drawing-canvas" [width]=canvas_width [height]=canvas_height [style]="'width:'+canvas_width+';height:'+canvas_height+';'" (touchstart)="begin_line($event)" (touchmove)="continue_line($event)" (touchend)="line_done()" (mousedown)="begin_line($event)" (mousemove)="continue_line($event)" (mouseup)="line_done()" (mouseout)="line_done()"></canvas>
    <br/>
    <button mat-raised-button [color]="tool_button_color('Pencil')" style="margin-right:30px;" (click)="select_tool('Pencil')">
        Pencil
    </button>
    <button mat-raised-button [color]="tool_button_color('Brush')" style="margin-right:30px;" (click)="select_tool('Brush')">
        Brush
    </button>
    <button mat-raised-button [color]="tool_button_color('Eraser')" style="margin-right:30px;" (click)="select_tool('Eraser')">
        Eraser
    </button>
    <button mat-raised-button  (click)="clear_screen(true)">
        Clear All
    </button>
    